.weather-panel {
    background-color: #222222;
    border-bottom: solid 2px;
}
.city {
    color: white;
    font-size: 20px;
}

.temp {
    font-size: 22px;
    color: #FFFFFF;
}

.wind {
    font-size: 18px;
    color: #FFFFFF;
}

.btn-more {
    float: right;
    margin-bottom: 10px;
    white-space: normal;
}