<!DOCTYPE html>
<html class='no-js' lang='en' ng-app="Dashboard">
  <head>
    <meta charset='utf-8'>
    <title>Home</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/style.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.js"></script>
    
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>

    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://rawgit.com/pablojim/highcharts-ng/v0.0.1/src/directives/highcharts-ng.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
    
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/components/weather/weather-controller.js"></script>
    <script type="text/javascript" src="js/components/weather/weather-detail-controller.js"></script>
    <script type="text/javascript" src="js/components/weather/weather-service.js"></script>
    <script type="text/javascript" src="js/services/request-service.js"></script>
    <script type="text/javascript" src="js/shared/components/weather-directive.js"></script>
    <script type="text/javascript" src="js/config/app-config.js"></script>
    <script type="text/javascript" src="js/config/message-constant.js"></script>

    <script type="text/ng-template" id="home.html">
      <div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
        <weather more="true" weathers=weathers weather-detail="goToWeatherDetail(weather)"></weather>
      </div>
    </script>

    <script type="text/ng-template" id="weather.html">
      <div class="panel panel-card">
        <div ng-repeat="weather in weathers" class="panel-content">
          <div class="row weather-panel">
            <div class="col-md-12">
              <div class="city ng-binding">  {{weather.name}} </div>
              <div class="temp ng-binding"> <span class="label">Temp</span> {{weather.main.temp}} </div>
              <div class="wind ng-binding"> <span class="label">Wind</span>{{weather.wind.deg }}° {{weather.wind.speed}}</div>
              <button ng-show='more' class="btn btn-more" ng-click="goToWeatherDetail(weather)">More Weather</button>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="weather-detail.html">
      <div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
        <div class="row">
          <weather more="false" weathers=weathers ></weather>
        </div>
        <div class="row">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Temp</th>
                <th>Wind</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="forecast in cityWeather.forecast track by $index">
                <td>{{forecast.dt_txt}}</td>
                <td>{{forecast.main.temp}}</td>
                <td>{{forecast.wind.deg }}° {{forecast.wind.speed}}</td>
              </tr>          
            </tbody>
          </table>
        </div>
        <div class="row">
          <highchart id="weatherchart" series="chart.series" title="chart.title" options="chart.options" ></highchart>
        </div>
      </div>
    </script>

  </head>
  <body>
    <div class="container">
      <div ui-view>
      </div>
    </div>
  </body>
</html>
